@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap');

:root{
    --bs-body-font-family: 'Krub', sans-serif;
    --bs-border-width: 1px;
}



nav {
    backdrop-filter: blur(0.5rem);
}
.active:before {
    content: "→ ";
}

@media (min-width: 992px) {
    .active:before {
        content: "↓ ";
    }
}

#fondo{
    background: blue url('https://picsum.photos/id/167/1500/800/?blur=2') no-repeat top left;
    background-size: cover;
}
